$color-white: #fff;
$color-black: #000;
$color-grey: #ccc;
$color-red: #941717;
$color-blue: #0d1cf0;
$backdrop-color: rgba(0,0,0,0.5);
$flex-id: 0.1;
$flex-title: 0.4;
$flex-name: 0.15;
$flex-status: 0.15;
$flex-actions: 0.2;